.product-card {
    width: 280px;
    border: 1px solid #e0e0e0;
    border-radius: 12px;
    overflow: hidden;
    background-color: white;
}

.product-image {
    width: 100%;
    height: 200px;
    background-color: #f5f5f5;
    display: flex;
    align-items: center;
    justify-content: center;
}

.product-info {
    padding: 20px;
}

.product-name {
    font-size: 18px;
    font-weight: 600;
    color: #333;
    margin-bottom: 8px;
}

.product-desc {
    font-size: 14px;
    color: #666;
    margin-bottom: 12px;
}

.product-price {
    font-size: 20px;
    font-weight: bold;
    color: #e74c3c;
    margin-bottom: 15px;
}

.buy-button {
    width: 100%;
    padding: 12px 0;
    background-color: #3498db;
    color: white;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    cursor: pointer
}

/* <!-- Exercise 2.2 --> */
.alert {
    padding: 15px 20px;
    border-radius: 6px;
    margin-bottom: 15px;
    font-size: 14px;
    border-left: 4px solid transparent;
}

.alert-success {
    background-color: #d4edda;
    color: #155724;
    border-left-color: #28a745;
}
.alert-warning {
    background-color: #fff3cd;
    color: #856404 ;
    border-left-color: #ffc107 ;
}
.alert-error {
    background-color: #f8d7da;
    color: #721c24;
    border-left-color:#dc3545;
}
.alert-info {
    background-color: #d1ecf1;
    color: #0c5460 ;
    border-left-color:#17a2b8;
}
 /* <!-- Exercise 2.3 --> */
 .container{
    display: flex;
    gap: 20px;
 }
 .box{
    width: 300px;
    padding: 20px;
    border: 5px solid #333;
    background-color:#f0f0f0 ;
 }
 .content-box-example{
    box-sizing: content-box;
 }
  .border-box-example{
    box-sizing: border-box;
 }
 