*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.dashboard{
    display: flex;
    flex-wrap: wrap;
   
    gap: 20px;
    /* gap: 40px; */
}
.header{
    width: 100%;
    height: 70px;
    text-align: center;
    /* margin-top: 20px;
     margin-bottom: 20px; */
    border: 1px solid black;
    background-color: antiquewhite;
}
.sidebar {
    width: 260px;
 ;
   background-color: antiquewhite;
   /* align-items: flex-start; */
}
.sidebar-widget{
    float: left;
   display: flex;
    flex-direction: column;
    
    gap: 30px;
}
.post-list{
    list-style: none;
  
}
.post-list li a{
    display: flex;
    /* justify-content: center; */
    align-items: baseline;
    gap: 5px;
    color: black;
    text-decoration: none;
}
.main-content{
    background-color: bisque;
    flex: 1;
    display: flex;
    /* align-items: center; */
    flex-direction: column;
    gap: 30px;
}

.stat-container{
    display: flex;
    justify-content: space-evenly;
   /* gap: 5px; */
}

.stat-box{
     border: 1px solid black;
    width:100px;
    height: 5cqmax;
     display: flex;
    align-items: center;
    justify-content: center;
}

.card-container{
    display: flex;
    justify-content: space-evenly;
}

.card-box{
      border: 1px solid black;
    width: 200px;
    height: 100px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
