@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght,XOPQ,XTRA,YOPQ,YTDE,YTFI,YTLC,YTUC@8..144,100..1000,96,468,79,-203,738,514,712&display=swap');



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto Flex";
}

body {
    background-color: #EFF3BF;
    width: 1512px;
    height: 982px;
}

.profile-card-container {
    width: 510px;
    height: 755px;
    margin-top: 113px;
    margin-left: 501px;
    border-radius: 64px;
    background-color: #ffffff;

}

.profile-card-header {
    width: 510px;
    height: 280px;
    position: relative;
    /* background-image: url("./images/Vector 2.png"); */
}

.below-part {
    width: 510px;
    height: 280px;
    position: relative;
}

.above-part {
    background-color: #973150;
    width: 510px;
    height: 150px;
    z-index: 1;
    position: absolute;
    top: 0;
}

.vc2 {
    position: absolute;
    top: 35%;
    bottom: 0;
    /* z-index: -1; */
}

.vc3 {
    position: absolute;
    top: 42%;
    bottom: 0;
}

.vc5 {
    position: absolute;
    top: 28%;
    bottom: 0;
    /* transform: rotateY(360deg)s */
    /* left: 0; */
}

.profile-img {
    position: absolute;
    top: 3%;
    left: 28%;
    z-index: 1000;
}



.profile-name-box h3 {
    margin: 10px 115px;

    font-size: 38px;
    font-weight: 500;
    letter-spacing: 10%;
    line-height: 100%;


}

.profile-name-box p {
    margin: 4px 205px;

    font-size: 16px;
    opacity: 60%;
}

.social-media-link {
    margin: 40px 108px;
}

.social-media-link img {
    margin-left: 16px;
    width: 32px;
    height: 32px;
}

.description {
    text-align: center;
    margin: 40px 48px;
    width: 414px;
    height: 75px;
    font-size: 18px;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 1%;
}

.button-box {
    margin: 75px 48px;
}

.btn {
    width: 191px;
    height: 57px;
    padding: 16px;

    border: none;
    color: white;
    border-radius: 999px;
    font-size: 20px;

}

.follow-btn {
    background-color: #DF3F8C;
    /* margin-right: 16px; */
}

.message-btn {
    background-color: transparent;
    border: 1px solid #838383;
    color: #838383;
    margin-left: 16px;
}