

@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght,XOPQ,XTRA,YOPQ,YTDE,YTFI,YTLC,YTUC@8..144,100..1000,96,468,79,-203,738,514,712&display=swap');



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
     font-family: "Roboto Flex";
}
body{
    background-color: #EFF3BF;
    width: 1512px;
    height: 982px;
}

.profile-card-container{
    width: 510px;
    height: 755px;
    margin-top: 113px;
    margin-left: 501px;
    border-radius: 64px;
    background-color: #ffffff;

}
.profile-card-header{
    width: 510px;
    height: 280px;
    position: relative;
    /* background-image: url("./images/Vector 2.png"); */
}

.below-part{
    width: 510px;
    height: 280px;
   position: relative;
}
.above-part{
    background-color: #973150;
    width: 510px;
    height: 150px;
    z-index: 1;
    position: absolute;
    top: 0;
}
.vc2{
    position: absolute;
    top: 35%;
    bottom: 0;
    /* z-index: -1; */
}
.vc3{
    position: absolute;
    top: 41%;
    bottom: 0;
}

.vc5{
    position: absolute;
    top: 40%;
    bottom: 0;
    /* left: 0; */
}
/* .vc6{
    transform: scaleY(-1);
} */
.profile-img{
    position: absolute;
    top: 3%;
    left: 28%;
    z-index: 1000;
}

.profile-name-box, .social-media-link{

    position: relative;
    /* position: absolute; */
}

.profile-name-box h3{
    position: absolute;
    margin-top: 10px;
    top: 30%;
    left: 28%;
    font-size: 38px;
   
}
 .profile-name-box p{
    position: absolute;
    margin-top: 50px;
    /* top: 80%; */
    left: 39%;
    font-size: 16px;
 }

.social-media-link img{
   margin-top: 100px ;
     /* position: absolute;
    top: 80%;
    left: 0; */
}