.gallery{
    /* display: flex; */
    /* influence on child */
    /* justify-content: center; */
    background-color: grey;
    /* flex-wrap: wrap; */
    display: grid;
    grid-template-columns: 300px 300px 300px;
    /* parent influnce  */
    justify-content: center;
    align-items: center;
    gap: 15px;
    padding: 20px;
}

.photo{
background-color: bisque;
height: 200px;
width: 200px;
display: flex;
align-items: center;
justify-content: center;
}