.nav-btn{
    display: inline-block;
    width: 120px;
    padding: 10px 20px;
    background-color: #2c3e50;
    color: white;
    text-align: center;
    text-decoration: none;
    margin: 5px;
}

.full-width{
    width: 120px;
    background-color: bisque;
    border: 1px dotted orangered;
    display: block;
}
.inline-text{
    display: inline;
      border: 1px solid coral;
}
.button{
    display: inline-block;
    width: 150px;
    border: 1px solid coral;
}
.hide-completely{
    display: none;
}
.hide-but-keep-space{
    visibility: hidden;
}

.card{
    margin-top: 30px;
    position: relative;
    width: 300px;
    height: 200px;
    border: 1px solid violet;
}
.badge{
    width: 100px;
    height: 100px;
    border: 1px solid orange;
    position: absolute;
    top: 5%;
    right: 2%;
}

.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: bisque;
    z-index: 1000;
}
.shifted{
    width: 100px;
    height: 100px;
    border: 1px solid burlywood;
    position: absolute;
    top: 10px;
}