#main-header {
    background-color: #333;
    color: white;
    padding: 20px;
}

.nav-link {
    color: white;
    text-decoration: none;
    margin: 0 15px;
}

.nav-link.active {
    color: yellow;
}

.card {
    background-color: white;
    padding: 20px;
    border: 1px solid #ddd;
}

.description {
    color: #333;
    font-style: italic;
}

.btn {
    padding: 10px 20px;
    border: none;
    color: white;
    font-size: 14px;
    cursor: pointer;
    border-radius: 5px;
}

.btn-primary {
    background-color: #007bff;
}

.btn-success {
    background-color: #28a745;
}

.btn-danger {
    background-color: #dc3545;
}

.alert{
    padding: 15px;
    border-radius: 5px;
    border: 1px solid;
    margin-bottom: 10px;
    margin-top: 10px;
}
.alert-success{
    background-color:#d4edda;
    color:#155724 ;
    border-color:  #c3e6cb;
}
.alert-warning{
    background-color:#fff3cd;
    color:#856404 ;
    border-color:  #ffeeba;
}
.alert-error{
    background-color:#f8d7da;
    color:#721c24 ;
    border-color: #de868f;
}