@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Montserrat", "Poppins";
    width: 1440px;
    margin: 0 auto;
}

.header {
    width: 100%;
    height: 85px;
    padding: 7px 127px;
    /* margin: 0 auto; */
    text-align: center;
}

.name {
    color: #75C310;
}

.logo {
    padding: 20px 1dvh;
    width: 217px;
    float: left;
    margin-right: 80px;
}

.header p {
    font-weight: bold;
    font-size: 24px;
}

.nav {
    display: inline-block;
    width: 675px;
    height: 44.5px;
    padding: 20px 5px;
    /* float: right; */
}

.nav a {
    text-decoration: none;
    color: #75C310;
    font-size: 20px;
    padding: 5px 20px;
}

#home {
    color: black;
}

.btn {
    width: 149px;
    font-size: 15px;
    padding: 8px 16px;
    border: none;
    border-radius: 30px;
    background-color: #75C310;
    color: white;
    margin-left: 20px;
}

/* Section 1 */

.section1 {
    height: 697px;
    width: 100%;
    padding: 92px 127px;
}

.section1 .img {
    /* display: inline-block; */
    float: right;
    object-fit: contain;

}

.text-container {
    display: inline-block;
    width: 429px;
    height: 342.5px;
    padding: 84px 0px;
    text-align: start;
}

h1 {
    font-size: 64px;
    font-weight: bold;

}


p {
    font-size: 20px;
    font-family: "Poppins";
    margin: 20px 0;
    font-weight: 500;
}

.text-container .btn,
.text-box .btn {
    margin-top: 30px;
}

/* Section 2 */
.text-box {
    text-align: end;
    /* margin: ; */
    width: 568px;
    height: 156px;
    display: inline-block;
    padding: 84px 0px;
    /* margin-left: 50px; */
}

.img-left {
    float: left;
    margin-right: 100px;
}

/* Section 3 */
.sec3 {
    margin: 0 auto;
    height: 343px;
    width: 100%;
    text-align: center;

}

.sec3-text {
    margin: auto;
    padding-top: 50px;
    width: 611px;
    height: 197px;
    /* padding: 414.5px  73px ; */
}

/* Section 4 */


.card-sec {
    height: 893px;
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 20px;
    position: relative;

    /* margin-right: 10px; */
}

.profile-card {
    /* float: left; */
    display: inline-block;
    vertical-align: top;
    width: 25%;
    margin: 60px;
    /* margin: 55px; */
    height: 485px;
    border: 3px solid #75C310;
    border-radius: 22px;
    padding: 20px;
    box-sizing: border-box;


}

.profile-card:nth-last-child {
    margin-right: 31px;
}

.profile-card:first-child {
    margin-left: 31px;
}

.profile-img {
    position: absolute;
    z-index: 1000;
    top: 0.1px;
    left: 110px;
    /* bottom: 300px; */
}

.girl {
    position: absolute;

    left: 600px;
}

.boy {
    position: absolute;
    left: 1070px;
    /* right: 20px; */

}

.profile-desc {
    width: 297px;
    position: absolute;
    top: 250px;
    text-align: center;
}

.profile-desc h3 {
    font-size: 32px;
    line-height: 100%;
    margin-bottom: 50px;
}

.profile-desc p {
    font-family: "Poppins";
    font-size: 16px;
    font-weight: 400;
    line-height: 100%;
}

.profile-desc .ceo-text {
    font-style: italic;
    margin-top: 80px;
}

/* <!-- section 5--> */
.sec5 {
    position: relative;
    width: 100%;
    height: 469px;
    background-color: #75C310;
    overflow: hidden;
}

.sec5 img {
    position: absolute;
    top: -280px;
    left: -369px;
}

.sec5-text-box {
    width: 377px;
    height: 287px;
    float: right;
    text-align: end;
    color: white;
    margin: 91px 127px;

}

.sec5-text-box h3 {
    font-size: 24px;
}

.sec5-text-box p {
    font-size: 20px;
    font-family: "Poppins";
    font-weight: 400;
    line-height: 100%;
    margin-top: 40px;

}


.phone {
    margin-top: 10px;
}

.white {
    width: 161px;
    margin-top: 60px;
    background-color: white;
    color: #3F6333;
    font-size: 20px;
    font-weight: 600;
    padding: 9px 23px;
}