.box01{
    width: 300px;
    height: 300px;
    /* border style and shape */
    background-color: aqua;
    border-top-style: dashed;
    border-left-style: dotted;
    border-bottom-style: double;
    border-right-style: groove;

    /* border width */

    font-size: 50px;

    /* padding */
    padding-top: 5px;
    padding-left:10px;
    padding-bottom:15px;
    padding-right: 20px;

    /* margin */
    margin-top: 40px;
    margin-right: 50px;
    margin-bottom: 60px;
    margin-left: 70px;


}

#box02{
    width: 400px;
    height: 400px;
    font-size: 60px;
    background-color: bisque;
  border-top: 3px red;
  border-left: 4px orange;
  border-bottom: 2px blue;
  border-right: 5px green;
  border-style: dotted;
/* padding: 100px 100px; */
  padding-top: 220px ;
  padding-left: 200px;
  padding-bottom: 20px;
  /* padding-right: 50px; */

  margin-top: 30px;
  margin-left: 15px;
  margin-bottom: 30px;
}
.box03{
    width: 300px;
    height: 300px;
    border: 3px groove pink;
    margin: 30px 20px 10px 5px;
    padding: 30px 20px 10px;
}

.box03 .child01{
    width: 100px;
    height: 100px;
    background-color: aliceblue;
    margin: 30px 20px;
}
.box04{
    width: 100px;
    height: 100px;
    border: 1px solid red;
    overflow: scroll;
}